<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
  <title>Home</title>
</head>
<body>

<!--HEADER AKA NAVBAR SECTION includes title, logo and menu links-->

  <div class="header">
    <div class="col-6-md">
      <img class="main-logo" src="" alt="">
    </div>
    <div class="menu col-6-md navbar navbar-expand-lg">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </div>
  </div>

<!--HERO SECTION includes title, description, hero image, and button-->

  <div class="hero">
    <div class="hero-info text-center">
      <h1 class="hero-title">Create your learning</h1>
      <p class="hero-description">Join or contribute to Hubs for unique learning communties full of guides, challenges and study groups. All for free </p>
    </div>
    <button class="sign-up btn btn-primary d-grid gap-2 col-2 mx-auto"> Sign Up</button>
    <img src="hero-img.png" alt="">
  </div>

<!--FEATURES SECTION includes three cards with main features-->

  <div class="features">
    <div class="features-info text-center">
      <h1 class="features-title">Reimagining Life Long Learning</h1>
      <p class="features-description">Learning is not a twelve or sixteen year affair, is a lifelong pursuit. Reimagine what learning means with flipped: fun, applicable and collaborative. </p>
    </div>
      <div class="feature-cards row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h2 class="">0</h2>
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h2 class="">0</h2>
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h2 class="text-align">0</h2>
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

<!--ALL HUBS SECTION includes a grid of four Hub cards -->
  <div class="allhubs">
    <h1 class=" allhubs-title text-center">Explore Hubs</h1>
    <div class="row row-cols-1 row-cols-sm-4 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 7 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 45 mins ago</small>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary d-grid gap-2 col-2 mx-auto">See More</button>
  </div>

<!--ABOUT SECTION includes description, image and button-->

<div class="about container">
  <div class="row">
    <div class="about-info col-8">
      <h1>Lorem Ipsum</h1>
      <p>Quia assumenda architecto expedita commodi provident voluptate iure itaque officia? Cum repellendus libero ea perspiciatis? Nobis rerum odio, dignissimos nesciunt molestias ipsum.</p>
    </div>
    <img src="" alt="" class="col"></div>
</div>


<!--WIDGETS SECTION includes title and three images of widgets from inside the Hub (eventually change to image(or video) of inside Hub like Github)-->

<!--FOOTER SECTION-->

</body>
</html>