h1{
    font-size: 54px;
}
p{
    font-size: 16px;
    font-family: 'AbeeZee';
}

.hero, .features, .allhubs, .about{
    margin-bottom: 300px;
}

/* Nav */
.navbar{
    font-family: 'Space Mono', monospace;
    margin: 0 20px 120px 20px;
}

nav-brand{
    font-size: 2rem;
    font-weight: bold;
}
#color-change{
    color:teal;
}

.container-fluid{
    padding: 3% 10%;
}

/* Hero */
